.navbar__hamburger{
    display: flex;
  }

  .navbar__item{
    --clip:0;
    overflow:hidden;
  }

  .navbar__item--active{
    --transform: rotate(0);
    --background: #5e7094;
  }

  .navbar__item--show{
    background-color: var(--background);
  }

  .navbar__links{
    position: fixed;
    max-width: 400px;
    width: 100%;
    height: 80%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #000;
    overflow-y:auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }

  .navbar__links--show{
    transform: unset;
    width: 100%;
  }

  .navbar__link{
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }

  .navbar__arrow{
    margin-left: auto;
    margin-right: 20px;
  }

  .navbar__nesting{
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height .3s;
  }

  .navbar__link--inside{
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
