*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
  font-family: Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
}

#services, #contact{
  background-color: aquamarine;

}

.navbar{
  width: 320px;
}

.nav__link{
  color: #fff;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

.nav__link--inside{
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;
}

.nav__link--inside:hover{
  background: #f6f8fa;
}

.list{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px 16px 16px 16px;
  background: #fff;
}

.list__item{
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__item--click{
  cursor: pointer;
}

.list__button{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.arrow .list__arrow{
  transform: rotate(90deg);
}

.list__arrow{
  margin-left: auto;
  transition: transform .3s;
}

.list__show{
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height .4s;
  height: 0;
}




.container-div-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}

.navbar-nav{
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
}

/* Estilos para el cuerpo */
body {
  background: url(https://i.pinimg.com/564x/8c/b8/51/8cb851d260d5a412e55b67af28dc3fce.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 19px;
  line-height: 1.5;
  color: #fff;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 15px;
  }

  h2 {
    font-size: 22px;
  }
}

header img {
  width: 300px;
  /* Cambiar el ancho de la imagen */
  height: 200px;
  /* Cambiar la altura de la imagen */
  border-radius: 15%;
  /* Agregar bordes redondos */
}

/* Estilo para el encabezado */
header {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 22px;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 10;
  font-size: 23px;
}

/* Estilos para los elementos de lista */
header li {
  display: inline;
  margin-right: 20 px;
}

/* Estilos generales para los encabezados de seccion */
.encabezado-seccion {
  color: #fff;
  margin-bottom: 11px;
  font-size: 25px;
}

/* Titulo inicio */
h1 {
  text-align: center;
}

/* Subtitulos */
h2 {
  padding: 20px;
}

/* Estilos para los párrafos */
.parrafo {
  color: #fff;
  font-size: 19px;
  line-height: 2.5;
}

/* Estilos para la lista de proyectos */
.lista-proyectos {
  list-style: none;
  margin: 1;
  padding: 1;
}

/* Estilos para los enlaces */
a {
  color: #8758f2;
}

/* Estilos para el pie de página */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Estilos para las secciones */
section {
  width: 100%;
}
