*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
  font-family: Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
}

#services, #contact{
  background-color: aquamarine;

}

.navbar{
  background-color: #1A202C;
  color: #fff;
  height: 100px;
}

.navbar{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.navbar__logo{
  padding: 5px 5px 5px 5px;
}

.navbar__links{
  height: 100%;
  transition: transform .5s;
  color: #fff;
  display: flex;
  /*transform: translate(100%);*/
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.navbar__item{
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(0);
}

.navbar__item:hover{
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(90deg);
}

.navbar__img{
  padding: 5px 5px 5px 5px;
}

.navbar__link{
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar__link:hover{
  background-color: #414d66;
}

.navbar__arrow{
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;
  padding-right: 10px;
}

.navbar__nesting{
  list-style: none;
  transition:clip-path .3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: #1A202C;
}

.navbar__link--inside{
  padding: 30px, 100px, 30px, 20px;
}

.navbar__link--inside:hover{
  background-color: #414d66;
}

.navbar__hamburger{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  padding-right: 5px;
  cursor: pointer;
  display: none;
}

.navbar__img{
  display: block;
  width: 36px;
}

@media (max-width: 768px){
    .navbar__hamburger{
      display: flex;
    }

    .navbar__item{
      --clip:0;
      overflow:hidden;
    }

    .navbar__item--active{
      --transform: rotate(0);
      --background: #5e7094;
    }

    .navbar__item--show{
      background-color: var(--background);
    }

    .navbar__links{
      position: fixed;
      max-width: 400px;
      width: 100%;
      height: 80%;
      top: 70px;
      bottom: 0;
      right: 0;
      background-color: #000;
      overflow-y:auto;
      display: grid;
      grid-auto-rows: max-content;
      transform: translateX(100%);
    }

    .navbar__links--show{
      transform: unset;
      width: 100%;
    }

    .navbar__link{
      padding: 25px 0;
      padding-left: 30px;
      height: auto;
    }

    .navbar__arrow{
      margin-left: auto;
      margin-right: 20px;
    }

    .navbar__nesting{
      display: grid;
      position: unset;
      width: 100%;
      transform: translateY(0);
      height: 0;
      transition: height .3s;
    }

    .navbar__link--inside{
      width: 90%;
      margin-left: auto;
      border-left: 1px solid #798499;
    }

}

body {
  font-family: Open Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100vw;
  height: 50vh;
  background-color: rgb(99, 5, 99);
  overflow: hidden;
}

#section1{
  width: 100%;
  min-width: 320px;
  max-width: 1000px;
  height: auto;
  min-height: 350px; 
  margin: 0 auto;
  border: 3px solid rgb(112, 3, 3);
  position: center;
}

.carousel {
  display: flex;
  position: relative;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
  min-height: 350px;
}

.carousel__item {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.carousel__link--item{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.carousel__item .carousel__img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

/* Estilos para las flechas del carrusel */
.carousel__controls {
  position: absolute; /* Posición absoluta para superponer las flechas */
  top: 95%; /* Centra verticalmente las flechas */
  transform: translateY(-50%); /* Alinea verticalmente las flechas */
  z-index: 1; /* Asegura que las flechas estén por encima del carrusel */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

/* Estilos para la flecha izquierda */
.carousel__button--prev {
  left: 10px; /* Posición a la izquierda */
}

/* Estilos para la flecha derecha */
.carousel__button--next {
  right: 10px; /* Posición a la derecha */
}

/* Titulo inicio */

body {
  overflow-x: hidden;
  font-size: 1.6rem;
}

header {
  width: 100vw;
  height: auto;
  border: 3px solid #998989;
}

.main {
  width: 100vw;
  height: auto;
}

.section-two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  background-color: rgb(81 79 197 / 79%);
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__section .tittle {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.main__section .text {
  padding-left: 10px;
  padding-right: 10 px;
}

.main-link {
  margin-bottom: 10px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.main-link__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}

.img-list {
  margin-right: 5px;
  margin-left: 5px;
}

.body__container{
  display: flex;
  flex-wrap: wrap;
}

.body__container--item{
  width: 100%;
  min-width: 300px;
  min-height: 150px;
  margin: 6px;
}

.body__container--item {

}

.main__section2--item {
  background-color: #e49f9f;
}

/* Estilos para los párrafos */
.parrafo {
  color: #fff;
  font-size: 19px;
  line-height: 2.5;
}

/* Estilos para la lista de proyectos */
.lista-proyectos {
  list-style: none;
  margin: 1;
  padding: 1;
}

/* Estilos para los enlaces */
a {
  color: #8758f2;
}

/* Estilos para el pie de página */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Estilos para las secciones */
section {
  width: 100%;
}
